
<app-header></app-header>
<div class="content">



<div class="notification-card">
    <div class="card-content">
        <i class="pi pi-bell" style="font-size: 1.3rem;padding: 15px;"></i>
        <span class="card-text">2 new member are added in you group </span>
        <p-button label="View" styleClass="p-button-warning"></p-button>
      </div>
</div>
<div class="dashboard-card">
    <div class="card-content">
        <span class="card-text">2 new member are added in you group 2 new member are added in you group2 new member are added in you group2 new member are added in you group2 new member are added in you group2 new member are added in you group2 new member are added in you group2 new member are added in you group  </span>
      </div>
</div>
<div class="dashboard-card">
  <div class="card-content">
      <span class="card-text">2 new member are added in you group 2 new member are added in you group2 new member are added in you group2 new member are added in you group2 new member are added in you group2 new member are added in you group2 new member are added in you group2 new member are added in you group  </span>
    </div>
</div>
<div class="dashboard-card">
  <div class="card-content">
      <span class="card-text">2 new member are added in you group 2 new member are added in you group2 new member are added in you group2 new member are added in you group2 new member are added in you group2 new member are added in you group2 new member are added in you group2 new member are added in you group  </span>
    </div>
</div>
<div class="dashboard-card">
  <div class="card-content">
      <span class="card-text">2 new member are added in you group 2 new member are added in you group2 new member are added in you group2 new member are added in you group2 new member are added in you group2 new member are added in you group2 new member are added in you group2 new member are added in you group  </span>
    </div>
</div>
<div class="dashboard-card">
  <div class="card-content">
      <span class="card-text">2 new member are added in you group 2 new member are added in you group2 new member are added in you group2 new member are added in you group2 new member are added in you group2 new member are added in you group2 new member are added in you group2 new member are added in you group  </span>
    </div>
</div>
<div class="dashboard-card">
  <div class="card-content">
      <span class="card-text">2 new member are added in you group 2 new member are added in you group2 new member are added in you group2 new member are added in you group2 new member are added in you group2 new member are added in you group2 new member are added in you group2 new member are added in you group  </span>
    </div>
</div>

</div>

<app-bottom-navigation></app-bottom-navigation>

