.dashboard-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #000000;
    background-color: white;
    justify-content: space-around;
    width: 100%;
    z-index: 1000;

  }


  .header-text {
    flex-grow: 1;
  }

  .subtext{
    font-weight: 700;
    color:#f75726

}

.p-overlay-badge .p-badge{
  margin: 12px;
}



.toggle-switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 34px;
  }
  
  .toggle-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: .4s;
  }
  
  .toggle-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
  }
  
  input:checked + .toggle-slider {
    background-color: #2196F3;
  }
  
  input:checked + .toggle-slider:before {
    transform: translateX(80px);
  }
  
  .toggle-label {
    color: #333;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    white-space: nowrap;
    z-index: 1;
  }
  
  .toggle-label.active {
    color: #fff;
  }



  .toggle-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border: none;
    background-color: #ccc;
    color: #333;
    cursor: pointer;
    outline: none;
    width: 100%;
  }
  
  .toggle-button.active {
    // background-color: #2196F3;
    color: #fff;
  }
  




  .directory-container {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
   
    position: relative;
  }
  
  .profile-pic {
    margin-right: 15px;
  }
  
  .profile-pic img {
    width: 4rem;
    height: 4rem;
    border-radius: 25%;
  }
  
  .details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .full-name {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .chips {
    display: flex;
    gap: 5px;
  }
  
  .menu-button {
    margin-left: auto;
  }
  
  .p-button-text .pi {
    font-size: 1.5em;
  }
.p-chip {
  font-size: small;
  background-color: #dee2e659;
  border-radius: 8px;
}
  
.small-chip .p-chip {
  padding: 2px 8px;
  font-size: 7px;
  height: 20px;
  line-height: 20px;
}
.list-container{
  padding: 5rem 0rem 0rem 0rem;
  transition: background-color 0.3s ease;
}
.button-container {
  display: flex;
  justify-content: center;
  margin:2px 1rem 1rem 1rem;
  background-color: #64748B;
  border-radius: 10px;

}
.textBox-container{
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.button-container .p-button {
  margin: 12px 11px;
  width: 100%;
  border-radius: 10px;
}
.textbox{
  margin: 1rem;
  padding: 0;
  border-radius: 10px;
  background-color: rgba(245, 184, 110, 0.4784313725);
  text-align: center;
}

.notification-card {
   
  margin: 1rem;
  padding: 0;
  border-radius: 10px;
  background-color: rgba(245, 184, 110, 0.4784313725);
  text-align: center;
}
.card-content {
  display: flex;
  align-items: center;
  
}
.card-text {
  flex-grow: 1;
  padding: 11px;   
  text-align: left;
  font-weight:34px
  
}